Body {font-family:Tahoma; scrollbar-base-color:#ffcc99}
TABLE{font-family:Tahoma}
p            { font-family: Tahoma}
.scr         { color: #00FF00; font-family: Courier New }
a:hover      { color: #FF0000; text-decoration: none;}
a.visited    { font-family:Arial;color: #6666FF; text-decoration: underline;}
a            { font-family:Arial;color: #6666FF; text-decoration: underline;}
h3           { color: #000080; font-size: 14pt }
h3           { font-family: Tahoma}
li           { font-family: Tahoma }